<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/main.js"></script>
</head>
<body>
<div id="data">

    <form method="post" action="/gameArea">
        Player : <input id="pseudo" type="text" name="pseudo" placeholder="entrer un pseudo">
        <input type="button" value="valider" onclick="valider()">
    </form>
    <div id="data">
        clients => {{.}}
        <input type="button" value="test send" onclick="testSend()">
    </div>

</div>

</body>
</html>