{{define "timer"}}
    <!--timer-->
    <div class="container center" style="margin-top: 1em ; justify-content: space-evenly">

        <div class="timer">
            10
        </div>
    </div>
{{end}}
